body {
  background-image: url(https://wallpapercave.com/wp/wp2638549.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Cormorant Garamond', serif;
}

#header-img {
  display: flex;
  justify-content: center;
}
img {
  height: 350px;
  width: 350px;
}

#sortingHat {
  display: flex;
  justify-content: center;
}

.card-header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.img {
  align-self: center;
  object-fit: cover;
  height: 250px;
  width: 525px;
  margin: 10px;
  border: solid 1px black;
}

.card-text {
  align-self: center;
  width: 525px;
}

.btn-sort { 
  width:525px;
  font-weight: 700;
}

#filterButtons {
  display: flex;
  justify-content: center;
  margin: 10px;

}

#cardContainer{
  display: flex;
  flex-flow: row wrap;
}

#students {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: left;
  flex-grow: 1;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

#newStudents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

#voldemort {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

button#all {
  background-color: darkgray;
  color:white;
}

#header-for-Gryffindor {
  background-color: gold;
  color: white;
}

button#gryffindor {
background-color: gold;
color: white;
}

#header-for-Hufflepuff {
  background-color: red;
  color: white;
}

button#hufflepuff {
  background-color: red;
  color: white;
}

#header-for-Ravenclaw {
  background-color: purple;
  color: white;
}

button#ravenclaw {
  background-color: purple;
  color: white;
}

#header-for-Slytherin {
  background-color: green;
  color: white;
}

button#slytherin {
  background-color: green;
  color: white;
}

button#voldemort {
  background-color: black;
  color: white;
}
