body {
  background-image: url(https://wallpapercave.com/wp/wp2638549.jpg);
  background-position: center;
  background-attachment: fixed;
  font-family: "Cormorant Garamond", serif;
}

#header-img {
  display: flex;
  justify-content: center;
}

#house-crest {
  height: 300px;
  width: 300px;
}

img {
  height: 200px;
  width: 200px;
}

#sortingHat {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#card-header {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

#gif {
  align-self: center;
  object-fit: cover;
  height: 250px;
  width: 525px;
  margin: 10px;
  border: solid 1px black;
}

.card-text {
  align-self: center;
  width: 525px;
  font-size: large;
}

.btn-sort {
  /* width:525px; */
  font-weight: 700;
  font-size: larger;
  margin: 5px;
}

#filterButtons {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: auto;
}

#students {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

#voldemort {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

#card-body {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

#btn-sort {
  display: flex;
  justify-content: center;
  margin: 2px;
}

button#all {
  background-color: darkgray;
  color: white;
}

button#gryffindor {
  background-color: gold;
  color: white;
}

button#hufflepuff {
  background-color: red;
  color: white;
}

button#ravenclaw {
  background-color: purple;
  color: white;
}

button#slytherin {
  background-color: green;
  color: white;
}

.btn.btn-primary {
  margin: 10px;
}

#nameInputTextArea {
  padding: 5px;
}
